body {
    padding: 0;
    margin: 0;
    background-color: #99CCFF;
    color: #000;
    font-family: verdana, arial, sans-serif;
    font-size: 80%;
}

H1 {
   font-family: 'Times New Roman';
   font-size: 36px;
   background: #99CCFF;
   color: red;
   text-align: center;
}

H2 {
   font-family: arial,verdana,sans-serif;
   font-size: 20px;
   background: #99CCFF;
   color: black;
}

P {
   font-family: arial,verdana,sans-serif;
   font-size: 16px;
   background: #99CCFF;
   color: navy;
}

strong {
    font-weight: normal;
}

#info img {
    border: 0;
    float: left;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
}
